@font-face {
    font-family: 'Stellar';
    src: url("../assets/fonts/Achieve-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stellar';
    src: url("../assets/fonts/Achieve-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Stellar', sans-serif;
    background-color: #f7de53;
    overflow-x: hidden; /* Evita scroll horizontal inesperado */
    margin: 0;
}

.hero{
    padding: 15% 0 25%;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container{
    max-width: 1500px;
    margin: auto;
}

header p{
    font-size: 1.8vw;
}

header h1{
    font-size: 5vw;
    font-weight: 600;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

img{
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
    border: 2px solid black;
}

nav a{
    display: inline-block;
    padding: 1.2em 2em;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 30px;
    transition: transform 0.5s ease;
    white-space: nowrap; /*Para que no se separe en 2 lineas de texto*/
}

nav a:first-child{
    background-color: black;
    color: rgb(216, 216, 216);
    font-size: 1em;
    font-weight: bold;
}

nav a:first-child:hover {
    transform: scale(1.05);
}

nav a:last-child{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-weight: bold;
}

nav a:last-child:hover{
    transform: scale(1.05);
}


.sobre-mi{
  background-color: rgb(139, 139, 139);
  margin: 10px;
  padding: 20px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}




@media (max-width: 768px) {
    .container {
        padding: 0 10px; /* Reduce aún más el padding */
    }

    .hero {
        padding: 8% 0 12%; /* Reduce el padding del hero */
        gap: 20px; /* Reduce el espacio entre elementos */
    }

    header p {
        font-size: 3.5vw; /* Se hace más grande para mejor legibilidad */
    }

    header h1 {
        font-size: 8vw; /* El h1 se hace más grande para mayor impacto */
    }

    img {
        width: 50vw; /* La imagen ocupa más espacio en pantallas muy pequeñas */
        height: 50vw;
        min-width: 120px; /* Asegura un tamaño mínimo un poco más pequeño */
        min-height: 120px;
        display: none;
    }
}